@import 'modules/_message';
@import 'modules/_queries';


* {
	margin: 0; padding: 0; box-sizing: border-box;
}

html {
	background-color: #f5f5f5;
}

body { 
	font-family: 'Heebo', sans-serif; 
	font-weight: 800;
	text-align: center;
	color: white;
	font-size: 6vw;
}

main { 
	display: flex;
	height: 100%;
	flex-direction: column;
	
}
.messages { 
	overflow-y: scroll;
	height: 40vh;	
}
.form-container, .messages { padding: 1% 6%; }
.form-container { 
	flex: 2;
	position: fixed;
	width: 100%;
	bottom: 0;

	label { 
			margin: 0 auto;
			margin-bottom: 0.5rem; }


input, textarea { 
	display: block; 
	width: 100%;
	border: 2px solid #121212;
	font-size: 1rem; 
	padding: 0.4rem;
	border-style: solid;
}

textarea { 
	height: 16vh; 
	font-family: 'Heebo', sans-serif; 
	font-size: 4vw;
}



form {
	//background: #000;
	padding: 4px;
	margin: 12px auto;

	input[type=submit] { 
		width: 100%; 
		padding: 10px; 
		background-color: #21b1ff ;
		margin-top: 20px; 
		border-radius: 8px;
		color: white;
		cursor: pointer;
		text-transform: uppercase;
		font-weight: bold;
		font-family: 'Heebo', sans-serif; 

	}
}


#messages {
	list-style-type: none; margin: 0; padding: 0;

	li { padding: 5px 10px;	}
	li:nth-child(odd) { background: #eee; }
}


}

.form-container, .namebox {
	border: 2px solid #222222;
	background-color: #191919;
}

.namebox {

	padding-top: 4%;
	padding-bottom: 4%;
	

	input {
		padding: 2% 1%;
		border: 2px solid #121212;
		width: 70%;
		margin-top: 8px;
	}

.nickname {
	font-size: 4vw;
}
	
}

#time {
	text-align: left !important;
}	

.new-message {
	animation: test 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
@-webkit-keyframes test {
	0% {
	  -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
			  transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
	  -webkit-transform-origin: 50% 0%;
			  transform-origin: 50% 0%;
	  -webkit-filter: blur(40px);
			  filter: blur(40px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateY(0) scaleY(1) scaleX(1);
			  transform: translateY(0) scaleY(1) scaleX(1);
	  -webkit-transform-origin: 50% 50%;
			  transform-origin: 50% 50%;
	  -webkit-filter: blur(0);
			  filter: blur(0);
	  opacity: 1;
	}
  }
  @keyframes test {
	0% {
	  -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
			  transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
	  -webkit-transform-origin: 50% 0%;
			  transform-origin: 50% 0%;
	  -webkit-filter: blur(40px);
			  filter: blur(40px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateY(0) scaleY(1) scaleX(1);
			  transform: translateY(0) scaleY(1) scaleX(1);
	  -webkit-transform-origin: 50% 50%;
			  transform-origin: 50% 50%;
	  -webkit-filter: blur(0);
			  filter: blur(0);
	  opacity: 1;
	}
  }