<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Chat App With Node</title>
	<link rel="stylesheet" href="css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Heebo&display=swap" rel="stylesheet">
	<script src="https://unpkg.com/vue"></script>
</head>

<body>
	<main id="app">
		<div class="namebox">
		<label for="nickname">Please Enter Your Name:</label>
			<div class="whitebox">
				<input v-model='nickname' type="text" id="nickname" class="nickname" placeholder="Name*">
			</div>
		</div>
		<section class="form-container chatbox">
			
			<p v-if="typing" class="typing">{{typing}} is typing...</p>
			<form>
				<label for="message">Message:</label>
				<textarea v-model="message" class="message" type="text" autocomplete="off" id="textarea" placeholder="Message*"></textarea>
				<input @click.prevent="dispatchMessage" value="send" type="submit">
			</form>
		</section>

		<section class="messages">
			<ul id="messages" v-for="message in messages">
				<!-- render a new message component for every message -->
				<newmessage :msg="message"></newmessage>
			</ul>
		</section>
	</main>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script type="module" src="js/main_vm.js"></script>
</body>

</html>