.new-message { 
    span { font-size: 0.8rem; display: block; margin-bottom: 2px; }

    width: 45%;
    padding: 8px 12px;
    background-color: #21b1ff;;
    border-radius: 4px;
    margin-bottom: 5px;
    word-break: break-all;

    
    clear: both;
}

.my-message {
    margin-left: auto;
    background-color: #323232;
    color: white;
}