//Chatbox message box
@media screen and (min-width:420px) {
    .new-message { 
        width: 50% !important;
    }

    body {
        font-size: 5.5vw !important;
        }

}

//Top Input Box
@media screen and (min-width:520px) {

	input {
		width: 60% !important;
        }

        .form-container form input[type="submit"] {
                width: 100% !important;
        }
        
        body {
                font-size: 4.5vw !important;
                }


        .form-container form input[type="submit"] {
             width: 60% !important;
             margin: 0 auto !important;
             margin-top: 20px !important;
        }

}


@media screen and (min-width:620px) {

	body {
        font-size: 4vw !important;
        }
        

        .form-container textarea {
                width: 60% !important;
                margin: 0 auto !important;
                margin-top: 20px !important;
                font-size: 14px !important;
        }

        textarea { 
                height: 12vh !important; 
}

        .form-container form input[type="submit"] {
                width: 40% !important;
                margin: 0 auto;
        }

}


@media screen and (min-width:680px) { 

        .text-area {
                width: 10% !important;
        }
}


@media screen and (min-width:820px) {

	input {
        width: 40% !important;
        height: 5vw;
        }

        .form-container form input[type="submit"] {
                width: 40% !important;
                margin: 0 auto;
                height: 50px;
        }
        
        body {
                font-size: 3.5vw !important;
                }

                .form-container textarea {
                        width: 60% !important;
                        margin: 0 auto;
                        font-size: 14px !important;
                }
        }


@media screen and (min-width:920px) {

	body {
        font-size: 3vw !important;
        }
        
        .form-container form input[type="submit"] {
                width: 40% !important;
        }
}

@media screen and (min-width:1020px) {

	body {
        font-size: 2.5vw !important;
        }

@media screen and (min-width:1040px) {

	input {
        width: 30% !important;
        height: 4vw;
        }
        
        .form-container textarea {

                width: 30% !important;
        }

        .form-container form input[type="submit"] {
                width: 30% !important;
        }
}

@media screen and (min-width:1240px) {
        .form-container form input[type="submit"] {
                width: 20% !important;
                margin: 0 auto;
}

@media screen and (min-width:1440px) {

	input {
        width: 23% !important;
        height: 3vw;
        padding: 0.2% 0.1% !important;
        margin-top: 20px !important;
        }
        
        body {
        font-size: 1.5vw !important;
    }


    @media screen and (min-width:1640px) {

        .form-container textarea {

                width: 24% !important;
        }

        .form-container form input[type="submit"] {
                width: 24% !important;
        }

        .new-message { 
                width: 35% !important;
        }

}

    .form-container form input[type="submit"] {
        max-width: 14% !important;
        margin: 0 auto;
        }
}
}